// Map
$zidx-inactive_pin: 0;
$zidx-map_canvas: 20;

// Serp
$zidx-view_toggles: 21;
$zidx-list_wrapper: 22;
$zidx-refine_search: 23;
$zidx-filter_controls: 24;
$zidx-top_left_inline_bar: 24;
$zidx-top_left_bar: 27;
$zidx-search_controls: 31;
$zidx-auto_suggestions: 999;

// For hotel profile
$zidx-hotel_top: 5;
$zidx-photo_scroll_arrow: 20;
$zidx-list_view_panel: 26;

$zidx-content_out: 26;
