// Include all colors used in CSS here

$wht: #FFFFFF; // White
$blk: #000000; // Black
$drk: #333333; // Dark Gray
$perks: #999999; // Perks
$module-bkg: #F8F8F8; //Soft Gray

// Buttons
$btn: #007AFF;
$btn-hvr: #0061CA;
$bookstyle: #FF8827;
$bookstyle-hvr: #E27923;

$list-hover-bkg: #F9F9F9;

// Gradients FROM and TO vars

$from-btn-cta: #003164; // Blue
$to-btn-cta: #000134;
$from-btn-super-cta: #FFCC33; // Orange
$to-btn-super-cta: #FF9A01;
$from-btn-secondary: #989898; // Gray
$to-btn-secondary: #676767;
$from-subtle: #FFFFFF; // Soft Gray
$to-subtle: #F1F1F1;
$from-bar: #024E92; // Blue
$to-bar: #003366;
$from-darkest: #333333; // Gray-Black
$to-darkest: #000000;

// Borders
$gray: #CCCCCC; // Gray
$default-border: 1px solid $gray;
$ico-border: 2px solid #333333;

// NiceScroll Color Settings
$nicescroll-bkg: #EFEFEF !important;
$nicescroll-bar: #44ABFB !important;

