// Font Families
$helv: Helvetica, Arial, sans-serif;
$helvn: "Helvetica Neue", Helvetica, Arial, sans-serif;
$helvnlt: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; $arial: Arial, sans-serif;

// Font Sizes
$min-txt: 11px;
$sml-txt: 12px;
$def-txt: 14px; //default
$med-txt: 16px;
$lrg-txt: 18px;
$xlg-txt: 20px;
$jmbo-txt: 22px;
